<div class="container" >
  <%= form_tag bikes_path, method: :get, class: "input-group rounded search_style" do %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control rounded",
                       placeholder: "Choisissez votre ville pour louer votre vélo"
    %>
    <%= button_tag(type: 'submit', class:'btn btn-info') do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>