<div class="search-geo-controls">
  <%= form_tag bikes_path, method: :get, class: "input-group rounded search_style" do %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control rounded",
                       placeholder: "Choisissez votre ville pour louer votre vélo"
    %>
    <%= button_tag(type: 'submit', class:'btn btn-info') do %>
      <i class="fas fa-search"></i>
    <% end %>
    <button id="locate-me" class="btn btn-info ml-3" style="width: 200px;">Me géolocaliser</button>
  <% end %>
</div>
