<div class="input-group rounded search_style">
  <input type="search" class="form-control rounded" placeholder="Choisissez votre ville pour louer votre vélo" aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <%= link_to bikes_path do  %>
    <i class="fas fa-search"></i>
    <% end %>
  </span>
</div>
