

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('background-home.jpg') %>);">
  <div class="container">
    <h1>Louez votre vélo sur Bretzel!</h1>
    <%= render 'shared/search' %>
  </div>
</div>
