<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel=“stylesheet” href=“https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css” integrity=“sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u” crossorigin=“anonymous”>
</head>

<body>
  <%= render 'shared/search' %>
  <h3>Mes vélos</h3>
  <br>
  <a class="btn btn-page4" href="#">Précédents</a>
  <a class="btn btn-page4" href="#">A venir</a>
  <a class="btn btn-page4" href="#">Mes envies</a>
  <br>
  <br>
<nav>
    <ul>
        <div class="card-trip">
          <img src="http://localhost:3000/assets/0-c042248a8122d6a4a6a3e463eab04e66a3930d630f619e4d78ae34a41037f42d.jpg" />
          <div class="card-trip-infos">
            <div>
              <%= render 'reservations/ratingstars' %>
              <h2>Title here</h2>
              <p>Short description here!</p>
            </div>
            <br>
            <a class="btn btn-validate" href="#">Envoyer</a>
          </div>
        </div>

        <div class="card-trip">
          <img src="http://localhost:3000/assets/1-e54cfdfd51a6176b974c4afc549eed35b2f75e1957973ce2951bd7059591b313.jpg" />
          <div class="card-trip-infos">
            <div>
              <%= render 'reservations/ratingstars' %>
              <h2>Title here</h2>
              <p>Short description here!</p>
            </div>
            <br>
            <a class="btn btn-validate" href="#">Envoyer</a>
          </div>
        </div>

        <div class="card-trip">
          <img src="http://localhost:3000/assets/5-ed1217e25dcd8578c55de6a7b0f48ad4d6401a25c3d4dabd0a58cb8e57aea54f.jpg" />
          <div class="card-trip-infos">
            <div>
              <%= render 'reservations/ratingstars' %>
              <h2>Title here</h2>
              <p>Short description here!</p>
            </div>
            <br>
            <a class="btn btn-validate" href="#">Envoyer</a>
          </div>
        </div>
    </ul>
</nav>
</body>
