.map-bikes {
  position: fixed;
  top: 0;
  right: 0;
}

.container-map {
  display: flex;
  flex-direction: row;
}

.mapboxgl-popup {
  max-width: 150px;
  max-height: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
