.search_style{
  width: 500px;
  margin: auto;
  margin-top: 12px;
}
.input-group-text{
  background-color: #FFDB6B;
   text-decoration:none;
}
a {
color : #fff;
}

.input-group-text:hover{
  background-color: #ececec;
   text-decoration:none;
}
